<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PayPal:Sandbox" value="True" />
    <add key="PayPal:Username" value="dongochoangvn-facilitator_api1.gmail.com" />
    <add key="PayPal:Password" value="EC7NF7ZLC5PRNQER" />
    <add key="PayPal:Signature" value="AiqFhwb15QKoOTgZG8itTwXb0CznAzAJj16exfV988LTUG9CIiD.dE6b" />
    <add key="PayPal:ReturnUrl" value="http://localhost:11856/Passenger/Card/DoCheckoutPayment" />
    <add key="PayPal:CancelUrl" value="http://localhost:11856/Passenger/Card/" />
    <add key="PayPal:MerchantAccountID" value="UZUA9JTRV6YPG" />
    <add key="PayPal:Environment" value="sandbox" />
  </appSettings>
</configuration>