
@{
    ViewBag.Title = "Quản lý hành khách";

    List<Green_Bus_Ticket_System_Data.User> users =
        (List<Green_Bus_Ticket_System_Data.User>)ViewBag.Users;

}



<div class="container-padding">

    <div class="col col-md-12 gb-padding text-center">
        <div class="form-inline hform">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" id="term" placeholder="Nhập số điện thoại hoặc họ tên">
            </div>
            <button type="button" class="btn btn-default" id="search"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="col-md-12" id="user-list">



    </div>



    <!-- Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Chỉnh sửa thông tin khách hàng</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <!-- End Moda Code -->

</div>

@section CustomJs{
    <!-- ================================================
    Data Tables
    ================================================ -->
    <script src="~/Content/front/js/datatables/datatables.min.js"></script>

    <!-- ================================================
    Sweet Alert
    ================================================ -->
    <script src="~/Content/front/js/sweet-alert/sweet-alert.min.js"></script>
    <script>

        $('#user-table').DataTable({
            "order": []
        });

        $("#search").click(function () {
            var term = $("#term").val().trim();
            if (term.length > 0) {
                $.ajax({
                    url: "/Staff/Passenger/SearchPassenger",
                    dataType: "html",
                    data: { term: term },
                    method: "GET",
                    success: function (data) {
                        $("#user-list").html(data);
                    }
                });
            }
        });

        $('#term').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                $("#search").trigger("click");
            }
        });

        $(document).on("click", ".edit", function () {
            $("#userModal .modal-body").html("");
            getUser(this.id);

        });

        $(document).on("click", ".lockcard", function () {
            var id = this.id;
            var card = $(this);


            $.ajax({
                url: "/Staff/Card/LockCard",
                method: "GET",
                dataType: "json",
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        card.html('<i class="fa fa-unlock"></i>');
                        card.addClass("btn-primary unlockcard");
                        card.removeClass("btn-danger lockcard");
                        card.attr("title", "Mở khóa thẻ");
                        $(".statuslable#" + id).html('<span class="label label-danger">KHÓA</span>');
                    }
                }
            });
        });

        $(document).on("click", ".unlockcard", function () {
            var id = this.id;
            var card = $(this);


            $.ajax({
                url: "/Staff/Card/UnLockCard",
                method: "GET",
                dataType: "json",
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        card.html('<i class="fa fa-lock"></i>');
                        card.removeClass("btn-primary unlockcard");
                        card.addClass("btn-danger lockcard");
                        card.attr("title", "Khóa thẻ");
                        $(".statuslable#" + id).html('<span class="label label-success">ĐÃ KÍCH HOẠT</span>');
                    }
                }
            });
        });


        $(document).on("click", ".save", function () {
                var name = $("#edit-name").val().trim();
                var phone = this.id;
                var button = $(this);
                $.ajax({
                    url: "/Staff/Passenger/UpdateName",
                    method: "GET",
                    dataType: "json",
                    data: { phone: phone, name: name },
                    success: function (data) {
                        if (data.success) {
                            button.html('<i class="fa fa-check"></i> Đã lưu!');
                            setTimeout(function () {
                                button.html('<i class="fa fa-floppy-o"></i>');
                            }, 500);
                            $(".fullname#" + phone).html(name);
                        } else {
                            swal({
                                title: "",
                                text: data.message,
                                type: "error"
                            });
                        }
                    }
                });
        });

        function getUser(phone) {
            $.ajax({
                url: "/Staff/Passenger/GetUser",
                method: "GET",
                dataType: "html",
                data: { phone: phone },
                success: function (data) {

                    $("#userModal .modal-body").html(data);
                    $("#userModal").modal("show");

                }
            });
        }

    </script>
}

