<tr>
    <td><input type="text" class="form-control p-name" /></td>
    <td><input type="text" class="form-control p-code" /></td>
    <td><input type="text" class="form-control p-price" /></td>
    <td><input type="text" class="form-control p-percent" /></td>
    <td><input type="text" class="form-control p-number" /></td>
    <td>
        <button type="button" class="btn btn-primary create" ><i class="fa fa-floppy-o"></i></button>
    </td>
    <td><button type="button" class="btn btn-danger delete" id="0"><i class="fa fa-times"></i></button></td>

</tr>
