
@{
    ViewBag.Title = "Bảng điều khiển";
}
<!-- Start Row -->
<div class="row padding-t-20">
    <div class="col-sm-12 text-center padding-b-20">
        <img src="~/Content/front/logo/gblogo.png" />
    </div>
    <div class="col-md-12">
        <!-- Start Quick Menu -->
        <ul class="panel quick-menu clearfix">
            <li class="col-sm-6">
                <a href="/Admin/Account"><i class="fa fa-users"></i> QUẢN LÝ TÀI KHOẢN</a>
            </li>
            <li class="col-sm-6">
                <a href="/Admin/Home/Profiles"><i class="fa fa-gear"></i> CÀI ĐẶT</a>
            </li>
        </ul>
        <!-- End Quick Menu -->
    </div>
</div>
<!-- End Row -->