<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gbts.navigationdraweractivity">

    <!-- OpenGL 2.0 graphic Maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Allowed Access Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Need config use Google Maps Android API (GMAA) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxvdx9eKV_HPzrxGWiiNLL9I7WoDe0FSE" />

        <activity android:name=".activity.CreditPlanActivity" />
        <activity android:name=".activity.PaypalActivity" />
        <activity
            android:name=".activity.ActivateCardActivity"
            android:label="Kích hoạt thẻ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gbts.navigationdraweractivity.activity.ActivateCardActivity" />
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech" />
        </activity>
        <activity android:name=".activity.BusStopActivity" />
        <activity android:name=".activity.ActivityGoogleFindPath"></activity>
    </application>

</manifest>